body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
  
  

  .nav {
    height: 45px;
    padding-top: 20px;
    overflow: hidden;
    background-color: #088F8F;
    
  }
  
  .nav a {
    
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav a:hover {
    background-color: #59C5C5;
    color: #FF8749;
  }
  
  .nav a.active {
    background-color: #59C5C5;
    color: #BFFCFB;
  }
  
  .nav-left{
    float: left;
  }
  .nav-right{
    float: right;
    padding-right: 80px;
  }

  .container{
    margin: 45px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    gap: 15px;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; 
    
  }

  .cover1{
    height: 200px;
    width: 350px;
    margin-top: -50px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: #BCE978;
    background-color: #BCE978;
    
}

.cover2{
    height: 200px;
    width: 350px;
    margin-top: -50px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: #95F7B1;
    background-color: #95F7B1;
    
}

.cover3{
    height: 200px;
    width: 350px;
    margin-top: -50px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: #3D4D80;
    background-color: #3D4D80;
    
}
.big{
  padding: 20px;
  color: white;
  font-size: 2em;
  font-weight: bolder;
  margin-left: 70px;
}

.number_count{
  margin-left: 130px;
  font-size: 2em;
  font-weight: bold;
}

.big_link{
  text-decoration: none;
  color: black;
}

.sector1{
  height: 200px;
  width: 350px;
  margin-top: -50px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  border: #FE7FCD;
  background-color: #FE7FCD;
  
}

.sector2{
  height: 200px;
  width: 350px;
  margin-top: -50px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  border: #53222E;
  background-color: #53222E;
  
}

.sector3{
  height: 200px;
  width: 350px;
  margin-top: -50px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  border: #3D4D80;
  background-color: #3D4D80;
  
}

.sector4{
  height: 200px;
  width: 350px;
  margin-top: -50px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  border: #95B1B0;
  background-color: #95B1B0;
  
}

.jclick{
  margin-left: 100px;
  font-size: 1.5em;
  font-weight: bold;
}