<!DOCTYPE html>
<html>
    <head>
        <title> Sign Up Client</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/signin.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Margarine&family=Roboto:wght@400&display=swap" rel="stylesheet">

        
    </head>
    <body>
        <div class="box">
            <p class="workf"> WorkForce</p>
            <p class="s_create"> Create Your Free Account</p>
            <br><br>
            <button class="choice_but"><a href={{ url_for('signup_emp')}}> Create Employer Account</a></button>
            <button class="choice_but"><a href={{ url_for('signup_user')}}> Create User Account</a></button>
            
            <!-- Already have an account link is causing an internal error-->

            <a class="slink" href="">Already have an account?</a>
        </div>
    </body>
</html>