   
   {% extends "base.html" %}
   {% block content %}
   <div class="container mt-4">
            <div class="column">
              <br><br>
              <a class = "big_link" href="emp_jobs.html">
                <div class="cover1">
                  <p class="big">Opened Jobs</p>
                  <p class="number_count">12</p>
  
                </div>
              </a>
              
            </div>

            <div class="column">
                <br><br>
                <a  class="big_link" href="candidates.html">
                  <div class="cover2">
                    <p class="big">Candidates</p>
                    <p class="number_count">23</p>
    
                  </div>
                </a>
                
              </div>

              <div class="column">
                <br><br>
                <a  class="big_link" href="approved.html">
                  <div class="cover3">
                    <p class="big">Approved</p>
                    <p class="number_count">12</p>
    
                  </div>
                </a>
                
              </div>

         </div>
{% endblock %}