{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
        <div class="box mx-auto p-3">
            <h4 class="text-center"> Log Into Your Company's Account</h3>

            <form method="post" novalidate>
                {{ form.hidden_tag() }}
                <p class="my-3">
                    {{ form.email.label }}<br>
                    {{ form.email }}
                    {% for error in form.email.errors %} <br> <br>
                    <span style="color: red;">{{ error }}</span> 
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password}}
                    {% for error in form.password.errors %} <br> <br>
                    <span style="color: red; ">{{ error }}</span>
                    {% endfor %}
                </p>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <a>{{ form.submit(class="but btn-primary") }}</a>
            </form>
            <p class="lf"><a class="lflink float-left mt-5" href="{{ url_for('login') }}">I am not an employer</a></p>
            <p class="lf"><a class="lflink mt-4" href="{{ url_for('signup_emp') }}">Create Account</a></p>
      
        </div>
{% endblock %}