<!DOCTYPE html>
<html>
    <head>
        <title> Login | WorkForce</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Margarine&family=Roboto:wght@400&display=swap" rel="stylesheet">

        
    </head>
    <body>
        <div class="box">
            <p class="log"> Login to WorkForce</p>
       
            <form method="post" novalidate>
                {{ form.hidden_tag() }}
                {% for message in get_flashed_messages() %}
                <div class="alert alert-danger">{{ message }} </div><br>
                <br>
                {% endfor %}
        
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username }}
                    {% for error in form.username.errors %} <br> <br>
                    <span style="color: red;">[{{ error }}]</span> 
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password}}
                    {% for error in form.username.errors %} <br> <br>
                    <span style="color: red; ">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <a>{{ form.submit(href="url_for('user_jobs')", class="but") }}</a>
            </form>
            <p ><a class="alink" href="#">Forgot Password?</a></p>
            <p class="lf"><a class="lflink" href={{ url_for('signup') }}>Create Account</a></p>
            <button class="but"><a > Log In</a></button>
      
        </div>
    </body>
</html>