<!DOCTYPE html>
<html>
    <head>
        <title> Sign Up Client</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Margarine&family=Roboto:wght@400&display=swap" rel="stylesheet">

        
    </head>
    <body>
        <div class="box">
            <p class="log"> Login to WorkForce</p>
            <form action="get">
                <label for="Uname"> Username</label><br>
                <input type="text", id="u_name"> <br><br>
                <label for="u_pwd"> Password</label><br>
                <input type="password" name="pwd" id="u_pwd"><br><br>
                
            </form>
            <p ><a class="alink" href="#">Forgot Password?</a></p>

            <!-- Create Account link is causing an internal error-->

            <p class="lf"><a class="lflink" href="">Create Account</a></p>

            <button class="but"><a href={{ url_for('user_jobs')}}> Log In</a></button>
        </div>
    </body>
</html>