{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
        <div class="box mx-auto">
            <p class="log"> Login to WorkForce</p>
       
            <form method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username }}
                    {% for error in form.username.errors %} <br> <br>
                    <span style="color: red;">{{ error }}</span> 
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password}}
                    {% for error in form.username.errors %} <br> <br>
                    <span style="color: red; ">{{ error }}</span>
                    {% endfor %}
                </p>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <a>{{ form.submit(class="but") }}</a>
            </form>
            <p ><a class="alink" href="#">Forgot Password?</a></p>
            <p class="lf"><a class="lflink" href={{ url_for('signup') }}>Create Account</a></p>
      
        </div>
{% endblock %}