<!DOCTYPE html>
<html>
    <head>
        <title>Sector</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/emp_dashboard.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Margarine&family=Roboto:wght@400&display=swap" rel="stylesheet">

    </head>
    <body>
        <div class="nav">
            <div class="nav-left">
                <a id="work" href="#work">WorkForce</a>
            </div>
            <div class="nav-right">
              <a href={{ url_for( 'emp_dashboard') }}>Dashboard</a>
              <a class="active"  href={{ url_for( 'sectors') }}> Sectors</a>
              <a href={{ url_for('user_jobs')}}> Jobs</a>
              <a href="">Candidates</a>
              <a href={{ url_for('user_profile')}}>Profile</a>
            </div>     
        </div>
        <br><br><br>
        <div class="container">
            <div class="column">
              <br><br>
              <a class = "big_link" href="emp_jobs.html">
                <div class="sector1">
                  <p class="big">HR Department</p>
                  <p class="number_count">2</p>
  
                </div>
              </a>
              
            </div>

            <div class="column">
                <br><br>
                <a  class="big_link" href="candidates.html">
                  <div class="sector2">
                    <p class="big">Legal</p>
                    <p class="number_count">3</p>
    
                  </div>
                </a>
                
            </div>

            <div class="column">
                <br><br>
                <a  class="big_link" href="approved.html">
                  <div class="sector3">
                    <p class="big">IT Department</p>
                    <p class="number_count">12</p>
    
                  </div>
                </a>
                
              </div>

              <div class="column">
                <br><br>
                <a  class="big_link" href="approved.html">
                  <div class="sector4">
                    <p class="big">Create New Sector</p>
                    <p class="jclick">Just click</p>
    
                  </div>
                </a>

         </div>

    </body>
    <footer>

    </footer>
</html>