<!DOCTYPE html>
<html>
    <head>
        <title> Sign Up Client</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/signin.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Margarine&family=Roboto:wght@400&display=swap" rel="stylesheet">

        
    </head>
    <body>
        <div class="box">
            <p class="workf"> WorkForce</p>
            <p class="create"> Create User Account</p>
            <form action="get">
                <label for="Uname"> Username</label>
                <input type="text", id="u_name"> <br><br>
                <label for="email">Email</label>
                <input type="email", id="u_email"> <br><br>
                <label for="u_pwd"> Password</label>
                <input type="password" name="pwd" id="u_pwd"><br><br>
                <label for="u_pwd">Confirm Password</label>
                <input type="password" name="pwd" id="u_pwd">
                
            </form>
            <p ><a class="alink" ref="#">Already have an account?</a></p>
            <button class="but"><a href="#"> Create Account</a></button>
        </div>
    </body>
</html>