<!DOCTYPE html>
<html>
    <head>
        <title> Sign Up Client</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/signin.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Margarine&family=Roboto:wght@400&display=swap" rel="stylesheet">

        
    </head>
    <body>
        <div class="box">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-success text-center">{{ message }} </div><br>
            {% endfor %}
            <p class="workf"> WorkForce</p>
            <p class="create"> Create An Employer Account</p>
            <form>
                <label for="Cname"> Company's Name</label>
                <input type="text", id="c_name"> <br><br>
                <label for="email">Email Address </label>
                <input type="email", id="c_email"> <br><br>
                <label for="phone">Phone Number</label>
                <input type="tel" id="c_tel"> <br><br><br>
                <label for="u_pwd"> Password</label>
                <input type="password" name="pwd" id="c_pwd"><br><br>
                <label for="u_pwd">Confirm Password</label>
                <input type="password" name="pwd" id="c_pwd">
                {{form.submit(class='but')}}
                
            </form>
            <p ><a class="alink" href={{ url_for('login')}}>Already have an account?</a></p>
            <!-- <button class="but"><a href="#"> Create Account</a></button> -->
        </div>
    </body>
</html>