<!DOCTYPE html>
<html>
    <head>
        <title> Sign Up Client</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/signin.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Margarine&family=Roboto:wght@400&display=swap" rel="stylesheet">

        
    </head>
    <body>
        <div class="box">
            <p class="workf"> WorkForce</p>
            <p class="create"> Create User Account</p>

            <form action="" method="post">
                {{ form.hidden_tag() }}
                {% for message in get_flashed_messages() %}
                <div class="alert alert-success">{{ message }} </div><br>
                {% endfor %}
        <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=64) }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password2.label }}<br>
                    {{ form.password2(size=32, class='b-none') }}<br>
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <div>{{ form.submit(class='btn btn-secondary mx-5') }}</div>
            </form>

            <p ><a class="alink" href={{ url_for('login')}}>I already have an account</a></p>
        </div>
    </body>
</html>