{% extends "base.html" %}
{% block content %}

    <form method="post" class=" mx-auto p-5 bg-light border my-5" style="width: fit-content;">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-secondary text-center">{{ message }} </div><br>
        {% endfor %}
        <p class="text-primary text-center font-weight-bold"> WorkForce</p>
        <p class="text-secondary text-center"> Create An Employer Account</p>
        {{ form.name.label() }}: <br>
        {{ form.name(size=50, class='m-2') }} <br>
        {{ form.email.label }}: <br>
        {{ form.email(size=50, class='m-2') }} <br>
        {{ form.password.label }}: <br>
        {{ form.password(size=50, class='m-2') }} <br>
        {{ form.password2.label }}: <br>
        {{ form.password2(size=50, class='m-2') }} <br>
        {{form.submit(class='btn btn-primary float-right mr-2')}}
        <div class="btn btn-white border mr-2" onclick="history.back()">Cancel</div><a class="alink" href="{{ url_for('login_emp')}}">Already have an account?</a>
    </form>
{% endblock %}
