{% extends "base.html" %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/signin.css') }}">
        <div class="box mx-auto">
            <p class="workf"> WorkForce</p>
            <p class="s_create"> Create Your Free Account</p>
            <br><br>
            <a href={{ url_for('signup_emp')}}  class="choice_but p-0 my-5"><button class="btn btn-secondary"> Create Employer Account</button></a>
            <a href={{ url_for('signup_user')}}  class="choice_but p-0 my-5 "><button class="btn btn-secondary"> Create User Account</button></a>
            
            <a class="slink my-5 text-center" href="{{ url_for('login')}} ">Already have an account?</a>
        </div>
{% endblock %}