body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
  
  

  .nav {
    height: 45px;
    padding-top: 20px;
    overflow: hidden;
    background-color: #088F8F;
    
  }
  
  .nav a {
    
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav a:hover {
    background-color: #59C5C5;
    color: black;
  }
  
  .nav a.active {
    background-color: #59C5C5;
    color: #BFFCFB;
  }
  
  .nav-left{
    float: left;
  }
  .nav-right{
    float: right;
    padding-right: 80px;
  }

  #work{
    font-size: larger;
    font-family: 'Margarine', cursive;
  }

  .container{
    margin: 45px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
  }
  .column {
    float: left;
    width: 100%;
    padding: 10px;
    
  }
  .container > .column > .work{
    font-size: 50px;
    font-family: 'Margarine', cursive;
    color: #088F8F;
    margin-bottom: -10px;
    
}

.container > .column > .wel{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: -25px;
}
.container > .column > p{
  font-size: 20px;
  font-weight: 550;
  line-height: 1.75em;
}

.sign{
  margin-left: 40px;
  background-color: #FF8749;
  border: #FF8749;
  border-radius: 5px;
  height: 30px;
  width: 100px;

}

.sign > a{
  color: white;
  text-decoration: none;
  font-size: 15px;
}

