<!DOCTYPE html>
<html>
    <head>
        <title>Jobs</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/user_jobs.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Margarine&family=Roboto:wght@400&display=swap" rel="stylesheet">

    </head>
    <body>
        <div class="nav">
            <div class="nav-left">
                <a id="work" href="#work">WorkForce</a>
            </div>
            <div class="nav-right">
              <a href="#dashboard">Dashboard</a>
              <a class="active" href={{ url_for('user_jobs')}}>Jobs</a>
              <a href={{ url_for('user_profile')}}>Profile</a>
              <a href="#orient">Orientation</a>
              <a href={{ url_for('index')}}>Logout</a>
            </div>     
        </div>
        <br><br><br>
        <div class="search">
          <p>Search here</p>
        </div>

        <div class="container">
          <h1>Hi, {{ current_user.username }}!</h1>
            <div class="column">
              <br><br>
              <div class="cover">
                <p class="Jpost">Digital Marketer</p>
                <div class="square"></div>
                <p class="comp">Disney</p>
                <button class="apply"> <a>Apply</a></button>

              </div>
            </div>
            <div class="column">
                <br><br><br>
                <div class="cover">
                  <p class="Jpost">Digital Marketer</p>
                  <div class="square"></div>
                  <p class="comp">Disney</p>
                  <button class="apply"> <a>Apply</a></button>
  
              </div>
            </div>
            <div class="column">
              <br><br>
              <div class="cover">
                <p class="Jpost">Digital Marketer</p>
                <div class="square"></div>
                <p class="comp">Disney</p>
                <button class="apply"> <a>Apply</a></button>
              </div>
            </div>
          </div>

    </body>
    <footer>

    </footer>
</html>