{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/user_jobs.css') }}">

    <h3 class="bg-secondary py-3 text-white text-center">Hi {{ current_user.name }}, select a position from this list and apply</h3>
  <div class="container">
      <div class="column">
      <br><br>
      <div class="cover">
        <p class="Jpost">Digital Marketer</p>
        <div class="square"></div>
        <p class="comp">Disney</p>
        <button class="apply"> <a>Apply</a></button>

      </div>
    </div>
    <div class="column">
      <br><br><br>
      <div class="cover">
        <p class="Jpost">Digital Marketer</p>
        <div class="square"></div>
        <p class="comp">Disney</p>
        <button class="apply"> <a>Apply</a></button>

      </div>
    </div>
    <div class="column">
      <br><br>
      <div class="cover">
        <p class="Jpost">Digital Marketer</p>
        <div class="square"></div>
        <p class="comp">Disney</p>
        <button class="apply"> <a>Apply</a></button>
      </div>
    </div>
  </div>

{% endblock %}